<button class="btn btn-5">5%</button>
<button
  class="btn-custom px-10 py-2 text-2xl rounded-lg text-darkGrayishCyan bg-veryLIghtGrayishCyan"
>
  Custom
</button>

<!-- btn block -->
<div class="grid grid-cols-2 md:grid-cols-3 gap-4">
  <button class="btn btn-5">5%</button>
  <button class="btn btn-10">10%</button>
  <button class="btn btn-15">15%</button>
  <button class="btn btn-25">25%</button>
  <button class="btn btn-50">50%</button>
  <input type="text" placeholder="Custom" class="custom-field" />
</div>
