<!-- first block -->
<div class="space-y-12 md:space-y-14">
  <!-- =======================bill section=========== -->
  <section class="space-y-4">
    <p class="text-grayishCyan">Bill</p>
    <form
      action=""
      class="flex border py-2 px-4 justify-between items-center text-left bg-veryLIghtGrayishCyan rounded-md"
    >
      <img src="./images/icon-dollar.svg" alt="" class="h-[21px]" />
      <input
        type="text"
        class="bill text-3xl text-veryDarkCyan placeholder:text-right placeholder:text-grayishCyan bg-inherit font-mono focus:outline-none text-right"
        placeholder="0"
      />
    </form>
  </section>

  <!-- ============================select tip ============ -->
  <section class="grid grid-cols-2 md:grid-cols-3 gap-4">
    <button class="btn btn-5">5%</button>
    <button class="btn btn-10">10%</button>
    <button class="btn btn-15">15%</button>
    <button class="btn btn-25">25%</button>
    <button class="btn btn-50">50%</button>
    <input type="text" placeholder="Custom" class="custom-field" />
  </section>

  <!-- ==================number of people ============= -->
  <section class="space-y-4">
    <p class="text-grayishCyan">Number of People</p>
    <form
      action=""
      class="flex border py-2 px-4 justify-between items-center text-left bg-veryLIghtGrayishCyan rounded-md"
    >
      <img src="./images/icon-person.svg" alt="" class="h-[21px]" />
      <input
        type="text"
        class="number-ofPeople text-3xl text-veryDarkCyan placeholder:text-right placeholder:text-grayishCyan bg-inherit font-mono focus:outline-none text-right"
        placeholder="0"
      />
    </form>
  </section>
</div>
